.bloco {
    width: 200px;
    height: 100px;
    border: inset purple 2px;
    overflow: auto;
    display: inline-block;
    } 

#priquito {
width: 80%;
border: solid black 1px;
margin: 0px auto;
}

.azul {
background-color: aqua;

}

.azul:hover{
    background-color: black;
}

.vermelho {
    background-color: red;
}

.amarelo {
background-color: yellow;
}

.verde {
background-color: green;
}